@import url("colors.css");
/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  color: @foreground;
  background: @background;
}

window#waybar.hidden {
  opacity: 1;
}
#custom-rofi,
#custom-color-picker,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#language,
#power-profiles-daemon,
#clock {
  font-family: MesloLGMDZ Nerd Font;
  font-size: 16px;
  color: @foreground;
  /* border: 3px solid #202020; */
  /* border-radius: 3px; */
}


#custom-color-picker,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#language,
#power-profiles-daemon,
#clock {
  padding-right: 4px;
}

#custom-rofi {
  background: @primary;
  padding: 0 6px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */

#window,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent{
  font-weight: 600;
}

#workspaces {
  margin: 1px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ADD8E6;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    background-color: transparent;
    border-bottom: 2px solid #FFB6C1; /* Light Pink */
    color: #FFB6C1; /* Light Pink */
}

#workspaces button.focused {
    color: #90EE90; /* Light Green */
    border-bottom: 2px solid #90EE90; /* Light Green */
}

#workspaces button.urgent {
    background-color: #C71585; /* Medium Violet Red */
}

#workspaces button.hidden {
    opacity: 1; /* Make hidden workspaces visible with a different color */
    color: #FFFFE0; /* Light Yellow */
}

#workspaces button:hover {
    background: #89B4FA;
    border-bottom: 2px solid #FFB6C1; /* Light Pink */
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
	padding-left: 8px;
	padding-right: 8px;
	transition: none;
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
  color: @error;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  color: @warning;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  color: @tertiary;
}

#temperature.critical {
  color: @error;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight {
  color: @tertiary;
}

/* ================================ */
/*            memory                */
/* ================================ */
#custom-memory {
  color: @secondary;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  color: @primary;
}

#pulseaudio.muted {
  color: #ea6962;
}
#pulseaudio.source{
  color: @primary;
}

#pulseaudio.source-muted {
  color: @primary;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  color: @battery-full;
}

#battery.critical {
  color: @battery-low;
}

#battery.warning {
  color: @battery-low;
}
/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
  color: @secondary;
}

#power-profiles-daemon {
  color: @secondary;
}

#custom-color-picker {
	color: @tertiary;
}

#language {
color: @foreground-alt;
}

#custom-countdown {
   padding: 0 5px;
	 margin: 1px;
}
